@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}



.left {
    font-family: 'Arial, sans-serif';
    font-size: 200%;
    font-weight: bold;
    /* Add any other styling properties you want */
  }
.GreetingPage{
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  width: 100%;
}
.text{
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  color: white;
  max-width: 66%;
}
.text2{
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  color: white;
  max-width: 50%;
}
.altText{
  font-family: 'Arial, sans-serif';
  font-weight: bold;
}
.skills{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 10%;
}
.skillCard{
  width: 110px;
  height: 150px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3), 
  8px 8px 20px rgba(0, 0, 0, 0.3) inset, 
  -8px -8px 20px rgba(0, 0, 0, 0.3), 
  -8px -8px 20px rgba(0, 0, 0, 0.3) inset; 
  animation: bounce 2s infinite;
}
nav {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: white; /* Add a background color to ensure it doesn't overlap with content */
  z-index: 1000; /* Ensure it stays above other content */
  
}
.email {
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  color: inherit;
  transition: transform 0.2s ease;
  display: inline-block; /* Ensure the scaling is applied uniformly */
}

.email:hover {
  transform: scale(1.2);
}
body {
  margin: 0;
}
.LinkButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-top: 10vh
}
.probuttoncontainer{
  width: 70%;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.BLink{
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  border:  2px solid rgb(11, 196, 20); 
  color: white;
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  background-color: #1e1e30;
  animation: bounce 2s infinite;
}
.BLink:hover {
  box-shadow: 0 0 12px 2px rgb(11, 196, 20); 
  border-color: rgb(11, 196, 20); 
}
.TheHomePage {
  display: flex;
  align-items: flex-start;
}
.homepage{
  flex: 1;
}

.picture {
  width: 400px;
  height: 500px;
}
.picture img{
    width: 100%;
    height: 100%;
}
.container h1::after { 
  content: '';
  display: block;
  height: 4px;
  background-color: rgb(11, 196, 20);
  position: relative;
  width: 5%;
  margin-top: .5%; 
  margin-left: 1%;
}
.about-container p{
  margin-left: 5%;
  font-size: 130%;
}
.contact-container p{
  margin-left: 5%;
  font-size: 130%;
}
.about-container p{
  margin-left: 5%;
  font-size: 130%;
}
.project-container p{
  margin-left: 5%;
  font-size: 130%;
}
.fade{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}
.fade:nth-child(2){
  transition-delay: 200ms;
}
.fade:nth-child(3){
  transition-delay: 400ms;
}
.fade:nth-child(4){
  transition-delay: 600ms;
}
.fade2{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}
.show2{
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}
.fade2:nth-child(2){
  transition-delay: 100ms;
}
.fade2:nth-child(3){
  transition-delay: 200ms;
}
.fade2:nth-child(4){
  transition-delay: 300ms;
}
.fade2:nth-child(5){
  transition-delay: 400ms;
}
.fade2:nth-child(6){
  transition-delay: 500ms;
}
.fade3{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show3{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}
.fade3:nth-child(2){
transition-delay: 200ms;
}
.fade3:nth-child(3){
  transition-delay: 400ms;
}
.fade3:nth-child(4){
  transition-delay: 600ms;
}
.fade3:nth-child(5){
  transition-delay: 800ms;
}
.fade4{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show4{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}
.fade4:nth-child(3){
  transition-delay: 1000ms;
}
.fade4:nth-child(2){
  transition-delay: 1200ms;
}
.fade4:nth-child(1){
  transition-delay: 1400ms;
}


